.content-div {
    text-align: center;
    width: 850px; 
    height: 220px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    vertical-align: top;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2%;
    margin: auto;
    display: block;
    padding: 1rem 0;
}

.content-h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 37px;
    font-size: small;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content-h2:hover {
    cursor: pointer;
}

.content-img {
    margin-top: 20px;
    height: 150px;
    width: 280px;
    border-radius: 1rem;
    /* border: 1.5rem solid black; */
}

.content-img:hover {
    cursor: pointer;
}

.mybtn {
    height: 20px;
    width: 200px;
}

.input-field {
    width: 90%;
    display: flex;
    justify-content: center;
    height: 3rem;
    outline: none;
    font-size: 25px;
    color: white;
    border: none;
    background-color: #333;
    justify-self: center;
    justify-content: center;
    margin: auto;
    border-radius: 0.5rem;
}

.input-field::placeholder {
    font-weight: bold;
    opacity: 0.5;
    color: white;
  }

button {
    border: none;
    font-weight: 300;
    font-size: 15px;
    background-color: darkgoldenrod;
    margin: 0 5px;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    padding: 1rem;
}